# Добавляем только те файлы, которые не надо отслеживать

db/
greybox_tmp/
incremental_db/
output_files/
simulation/

**/*.v.bak
**/*.v~

/*.txt
/*.q*
/*.d*
/*.r*

!cycloneIV_ethernet_cam.qsf
!cycloneIV_ethernet_cam.qpf
!cycloneIV_ethernet_cam.qws
!cycloneIV_ethernet_cam.tis_db_list.ddb